In [324]:
#importanto os paranaue
import pandas as pd
import numpy as np

In [325]:
!ls

aula.ipynb  dados.csv  Untitled.ipynb

The class label indicates if the person has a coronary heart disease: negative (0) or positive (1). 

Attributes description: 
- sbp: systolic blood pressure 
- tobacco: cumulative tobacco (kg) 
- ldl: low densiity lipoprotein cholesterol 
- adiposity 
- famhist: family history of heart disease (Present, Absent) 
- typea: type-A behavior 
- obesity 
- alcohol: current alcohol consumption 
- age: age at onset

In [326]:
df = pd.read_csv('dados.csv')
df.head()

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age  chd
1  160    12.00  5.73      23.11  Present     49    25.30    97.20   52    1
2  144     0.01  4.41      28.61   Absent     55    28.87     2.06   63    1
3  118     0.08  3.48      32.28  Present     52    29.14     3.81   46    0
4  170     7.50  6.41      38.03  Present     51    31.99    24.26   58    1
5  134    13.60  3.50      27.78  Present     60    25.99    57.34   49    1

### Balanceando os dados por undersample

In [327]:
df.chd.sum() / df.chd.shape[0]

0.3463203463203463

In [328]:
df_zeros = df.loc[df.chd==0]
df_zeros = df_zeros.iloc[:(int(df_zeros.shape[0]/2))]
df_zeros

     sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age  chd
3    118     0.08  3.48      32.28  Present     52    29.14     3.81   46    0
6    132     6.20  6.47      36.21  Present     62    30.77    14.14   45    0
7    142     4.05  3.38      16.20   Absent     59    20.81     2.62   38    0
9    114     0.00  3.83      19.40  Present     49    24.86     2.49   29    0
13   118     0.00  1.88      10.05   Absent     59    21.57     0.00   17    0
..   ...      ...   ...        ...      ...    ...      ...      ...  ...  ...
226  143     5.04  4.86      23.59   Absent     58    24.69    18.72   42    0
232  136    13.20  7.18      35.95   Absent     48    29.19     0.00   62    0
234  122     0.00  3.76      24.59   Absent     56    24.36     0.00   30    0
235  138     0.00  3.24      27.68   Absent     60    25.70    88.66   29    0
237  126     5.50  3.78      34.15   Absent     55    28.85     3.18   61    0

[151 rows x 10 columns]

In [329]:
df_ones = df.loc[df.chd==1]
df_ones

     sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age  chd
1    160    12.00  5.73      23.11  Present     49    25.30    97.20   52    1
2    144     0.01  4.41      28.61   Absent     55    28.87     2.06   63    1
4    170     7.50  6.41      38.03  Present     51    31.99    24.26   58    1
5    134    13.60  3.50      27.78  Present     60    25.99    57.34   49    1
8    114     4.08  4.59      14.60  Present     62    23.11     6.72   58    1
..   ...      ...   ...        ...      ...    ...      ...      ...  ...  ...
455  124     1.60  7.22      39.68  Present     36    31.50     0.00   51    1
456  146     0.64  4.82      28.02   Absent     60    28.11     8.23   39    1
457  128     2.24  2.83      26.48   Absent     48    23.96    47.42   27    1
460  182     4.20  4.41      32.10   Absent     52    28.61    18.72   52    1
463  132     0.00  4.82      33.41  Present     62    14.70     0.00   46    1

[160 rows x 10 columns]

### DUMMIES DA VARIAVEL CATEGORICA

In [330]:
df = pd.concat((df_ones, df_zeros))
df

     sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age  chd
1    160    12.00  5.73      23.11  Present     49    25.30    97.20   52    1
2    144     0.01  4.41      28.61   Absent     55    28.87     2.06   63    1
4    170     7.50  6.41      38.03  Present     51    31.99    24.26   58    1
5    134    13.60  3.50      27.78  Present     60    25.99    57.34   49    1
8    114     4.08  4.59      14.60  Present     62    23.11     6.72   58    1
..   ...      ...   ...        ...      ...    ...      ...      ...  ...  ...
226  143     5.04  4.86      23.59   Absent     58    24.69    18.72   42    0
232  136    13.20  7.18      35.95   Absent     48    29.19     0.00   62    0
234  122     0.00  3.76      24.59   Absent     56    24.36     0.00   30    0
235  138     0.00  3.24      27.68   Absent     60    25.70    88.66   29    0
237  126     5.50  3.78      34.15   Absent     55    28.85     3.18   61    0

[311 rows x 10 columns]

### Dados Balanceados

In [331]:
df.chd.sum() / df.chd.shape[0]

0.5144694533762058

In [332]:
df = pd.concat((df, pd.get_dummies(df.famhist)), axis=1)
df.drop('famhist', inplace=True, axis=1)

In [333]:
df.head()

,sbp,tobacco,ldl,adiposity,typea,obesity,alcohol,age,chd,Absent,Present
1,160,12.00,5.73,23.11,49,25.30,97.20,52,1,0,1
2,144,0.01,4.41,28.61,55,28.87,2.06,63,1,1,0
4,170,7.50,6.41,38.03,51,31.99,24.26,58,1,0,1
5,134,13.60,3.50,27.78,60,25.99,57.34,49,1,0,1
8,114,4.08,4.59,14.60,62,23.11,6.72,58,1,0,1

In [334]:
df.columns

Index(['sbp', 'tobacco', 'ldl', 'adiposity', 'typea', 'obesity', 'alcohol',
       'age', 'chd', 'Absent', 'Present'],
      dtype='object')

In [335]:
colunas = ['sbp', 'tobacco', 'ldl', 'adiposity', 'typea', 'obesity', 'alcohol', 'age']

### Normalizando os dados

In [336]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))
df_s = df.copy(* Lembrar de treinar o algorimo from scratch quando estudar js)
df_s[colunas] = scaler.fit_transform(df[colunas])
df_s

,sbp,tobacco,ldl,adiposity,typea,obesity,alcohol,age,chd,Absent,Present
1,0.500000,0.384615,0.331010,0.414502,0.553846,0.332497,0.660371,0.755102,1,0,1
2,0.362069,0.000321,0.239024,0.580665,0.646154,0.444479,0.013996,0.979592,1,1,0
4,0.586207,0.240385,0.378397,0.865257,0.584615,0.542346,0.164821,0.877551,1,0,1
5,0.275862,0.435897,0.175610,0.555589,0.723077,0.354141,0.389565,0.693878,1,0,1
8,0.103448,0.130769,0.251568,0.157402,0.753846,0.263802,0.045655,0.877551,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
226,0.353448,0.161538,0.270383,0.429003,0.692308,0.313363,0.127183,0.551020,0,1,0
232,0.293103,0.423077,0.432056,0.802417,0.538462,0.454517,0.000000,0.959184,0,1,0
234,0.172414,0.000000,0.193728,0.459215,0.661538,0.303011,0.000000,0.306122,0,1,0
235,0.310345,0.000000,0.157491,0.552568,0.723077,0.345044,0.602351,0.285714,0,1,0
237,0.206897,0.176282,0.195122,0.748036,0.646154,0.443852,0.021605,0.938776,0,1,0

### Aplicando regrecao logistica

In [337]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [338]:
y = df_s['chd']
X = df_s.drop('chd', axis=1)

In [339]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [340]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
predito = lr.predict(X_test)

In [341]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, predito)

print(cm)

[[30 17]
 [ 9 47]]

In [342]:
from sklearn.metrics import classification_report

print(classification_report(y_test, predito))

              precision    recall  f1-score   support

           0       0.77      0.64      0.70        47
           1       0.73      0.84      0.78        56

    accuracy                           0.75       103
   macro avg       0.75      0.74      0.74       103
weighted avg       0.75      0.75      0.74       103

Significativas melhoras no recall apos balanceamento dos dados